@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-playfair-display: "Playfair Display";

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-white: #fff;
  --color-cadetblue: #548d75;
  --color-gray: #1e1e1e;

  /* Gaps */
  --gap-mini: 15px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-13xl: 32px;
  --padding-4xs: 9px;
  --padding-lg: 18px;

  /* Border radiuses */
  --br-11xl: 30px;
}